.home_outer{
	width:100%;
	float:left;
}

.home_inner{
	width:100%;
	float:left;
	height:600px;
	border-bottom:2px solid grey;
	border-left:1px solid grey;
	border-right:1px solid grey;
}

.outer-outlet{
	width:100%;
	float:left;
}